extends ../../layout/admin

block head 
  title schedule list

block content 

  .section-selected-schedule 
    .selected-schedule
      h2.selected-schedule__title selected schedule
      span.selected-schedule__change-icon c
      .selected-schedule__box
        ul.selected-schedule__list
          li.selected-schedule__item
            span.selected-schedule__item-label title
            span.selected-schedule__item-content= selectedSchedule.title
          li.selected-schedule__item
            span.selected-schedule__item-label duration
            span.selected-schedule__item-content= selectedSchedule.duration


  .section-scheduel-list 
      .schedule-list
        //- a(href="/admin/schedules/new")
        //-   button.btn.schedule-list__create-btn create new schedule
        button.btn.schedule-list__create-btn.open-modal(data-target='#create-schedule-modal') create new schedule
        table.schedule-list__table
          thead
            tr.schedule-list__head
              td title 
              td duration
          tbody
            each schedule in schedules
              tr.schedule-list__list
                  td
                    a(href=`/admin/schedules/${schedule._id}`)= schedule.title
                  td= schedule.duration

  form(action="/admin/schedules/selected" method="POST")
    select(name="selectedId")
      each schedule in schedules
        option(value=schedule._id)= schedule.title
    button(type="submit") save

block foot

  include ../../includes/modals/create-schedule

block script 

  script(src="/scripts/schedule-bundle.js")


