extends ../../layout/admin

block head 
  title schedule list

block content 

  .selected-schedule
    h2.selected-schedule__title seleced schedule
    span.selected-schedule__change-icon c
    .selected-schedule__box
      ul.selected-schedule__list
        li.selected-schedule__item
          span.selected-schedule__item-label title
          span.selected-schedule__item-content sample
        li.selected-schedule__item
          span.selected-schedule__item-label duration
          span.selected-schedule__item-content 50

  form(action="/admin/schedules/selected" method="POST")
    select(name="selectedId")
      each schedule in schedules
        option(value=schedule._id)= schedule.title
    button(type="submit") save

  ul 
    each schedule in schedules
      li
        a(href=`/admin/schedules/${schedule._id}`)
          p id : #{schedule._id}
          p title : #{schedule.title}
          p duration : #{schedule.duration}
          p selected : #{schedule.selected}
  
  div
    a(href="/admin/schedules/new")
      button create new 
      

block script 

