extends ../../layout/admin

block head 
  title schedule list

block content 

  h1 schedule list

  form(action="/admin/schedules/selected" method="POST")
    select(name="selectedId")
      each schedule in schedules
        option(value=schedule._id)= schedule.title
    button(type="submit") save

  ul 
    each schedule in schedules
      li
        a(href=`/admin/schedules/${schedule._id}`)
          p id : #{schedule._id}
          p title : #{schedule.title}
          p duration : #{schedule.duration}
          p selected : #{schedule.selected}
  
  div
    a(href="/admin/schedules/new")
      button create new 
      

block script 

