
//- create tr element to show time
mixin timeList(times)
  tr.program__time-list
    td.program__time-item day
    each time in times
      td.program__time-item #{time}

//- create tr elements for thumnails
mixin scheduleTable(days, attrs)
  each dayObj in days
    tr.program__week(class=dayObj.day)
      td= dayObj.day
      each time in dayObj.times
        if time.video
          - const { _id, path, title, description, type, videoId } = time.video
          td.program__thumnail(
            data-time-id=time.id
            data-video-object-id=_id 
            data-video-id=videoId
            data-type=type
            data-title=title 
            data-description=description
          )&attributes(attrs)
            img(src=path)
        else
          td.program__thumnail(data-time-id=time.id)&attributes(attrs)
            img
  